In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [3]:
df['lpep_dropoff_datetime']

0         2018-12-21 15:18:57
1         2019-01-01 00:16:32
2         2019-01-01 00:31:38
3         2019-01-01 01:04:54
4         2019-01-01 00:39:43
                 ...
630913    2019-01-31 23:22:59
630914    2019-01-31 23:23:05
630915    2019-01-31 23:36:14
630916    2019-02-01 00:04:18
630917    2019-01-31 23:26:06
Name: lpep_dropoff_datetime, Length: 630918, dtype: object

Q 1: How many taxi trips were totally made on January 15?

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
df['lpep_pickup_datetime_date'] = pd.to_datetime(df.lpep_pickup_datetime).dt.date

In [6]:
df['lpep_dropoff_datetime_date'] = pd.to_datetime(df.lpep_dropoff_datetime).dt.date

In [8]:
df[(df['lpep_dropoff_datetime_date'] ==pd.to_datetime("2019-01-15")) & (df['lpep_pickup_datetime_date'] ==pd.to_datetime("2019-01-15"))].shape

/home/shivam/anaconda3/envs/mlflow_env/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

(20530, 22)

Which was the day with the largest trip distance?

In [9]:
df.groupby(by=['lpep_pickup_datetime_date'])['trip_distance'].sum().sort_values(ascending=False)

lpep_pickup_datetime_date
2019-01-25    83745.79
2019-01-17    80241.16
2019-01-11    79742.42
2019-01-10    79530.83
2019-01-16    78213.29
2019-01-23    76901.52
2019-01-18    76829.36
2019-01-09    76689.42
2019-01-24    75800.41
2019-01-26    75098.03
2019-01-04    74996.64
2019-01-15    74856.26
2019-01-29    74613.56
2019-01-28    74053.50
2019-01-03    73005.01
2019-01-22    71712.73
2019-01-08    71246.25
2019-01-30    71180.07
2019-01-31    70496.19
2019-01-07    70191.41
2019-01-14    69981.51
2019-01-12    68087.38
2019-01-02    66490.74
2019-01-05    63917.11
2019-01-19    63335.81
2019-01-27    63249.70
2019-01-06    61555.35
2019-01-13    59211.84
2019-01-01    54440.06
2019-01-20    46980.27
2019-01-21    43066.51
2018-12-31       67.04
2019-02-01       55.00
2009-01-01       42.45
2010-09-23       25.45
2018-12-21        0.00
2018-12-07        0.00
2018-12-05        0.00
2018-12-04        0.00
Name: trip_distance, dtype: float64

In 2019-01-01 how many trips had 2 and 3 passengers?

In [10]:
df[df['lpep_pickup_datetime_date'] ==  pd.to_datetime("2019-01-01")]['passenger_count'].value_counts()

/home/shivam/anaconda3/envs/mlflow_env/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

1    12415
2     1282
5      616
6      273
3      254
4      129
0       21
Name: passenger_count, dtype: int64

For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?

In [11]:
df[df['PULocationID']==7].groupby('DOLocationID')['tip_amount'].max().sort_values(ascending=False)

DOLocationID
146    88.00
43     30.00
265    25.00
130    25.00
7      18.16
       ...
136     0.00
124     0.00
119     0.00
117     0.00
139     0.00
Name: tip_amount, Length: 221, dtype: float64